/* We follow SMASS rule  */

/* base rule */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    /* scroll-behavior: smooth; */
    /* scroll-snap-type:none; */
}

html,body{
    width: 100%;
    height: 100%;
    /* background-color: var(--main-bg-color); */
}

html{
    font-size: 62.5%;
    /* 1rem = 10px */
}

body{
    background-color: var(--main-bg-color);
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #f1f1f1;
}

/* theme */
:root{
    --main-bg-color: #fff;
    --noBlack-bg-color: #161616;
    --black-bg-color: #000;
}
/* layout */

.grid{
    display: grid;
    /* gap: 30px; */
}

.btn-grid-container-2--cols{
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    /* padding: 96px 21px; */
}

.service-grid-container-three--cols{
    grid-template-columns: repeat(3, 1fr);
    gap: 90px;
    padding: 96px 21px;
}

.footer-grid-container-four--cols{
    grid-template-columns: repeat(4, 1fr);
    gap: 90px;
    /* padding: 96px 21px; */
}

/* module / reusable */
/* states */
#mini-circle{
    width: 10px;
    height: 10px;
    z-index: 99999;
    border-radius: 50%;
    position: absolute;
    background-color: #000;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    -webkit-transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    -moz-transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    -ms-transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    -o-transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}


/* start Hero container */
.container{
    width: 100%;
    /* background-color: bisque; */
}

    /* start navigation */
    .nav{
        padding: 20px;
        /* background-color: tomato; */
        display: flex;
        align-items: center;
        justify-content: space-between;

        & h1{
            font-size: 2.5rem;
            letter-spacing: 0.1rem;
            color: transparent;
            -webkit-text-stroke: 1px #000;
            text-decoration: none;
            /* color: #000; */
        }
    }

    .main-nav{
        display: flex;
        align-content: center;
        justify-content: center;
        gap: 20px;

        & a{
            text-transform: capitalize;
            font-weight: 300;
            font-size: 20px;
            color: #000;
        }
    }
    /* end navigation */


/* start Hero Section */
.hero-section{
    margin-bottom: 5rem;
    margin-top: 20rem;
    padding-left: 7rem;
    /* background-color: tomato; */

    & h1{
        text-transform: uppercase;
        -webkit-text-stroke: 1px #000;
        font-size: 9rem;
        color: transparent;
    }
}

/* end Hero Section */

/* Start Service-section */
.service-section{
    width: 100%;
    height: auto;
    margin-top: 15rem;
    color: #fff;
    background-color: var(--noBlack-bg-color);

    border-top-left-radius: 7rem;
    border-top-right-radius: 7rem;

    padding: 9rem 4rem 7.5rem 4rem;

    
    & h2{
        font-size: 9rem;
        font-weight: 200;
        font-style: italic;
    }
}

.grid{
    display: grid;
    /* gap: 30px; */
}

.service-item-container{

    & .service-img-container{
        overflow: hidden;
        width: 100%;
        height: 45rem;
        background-color: #f1f1f1;
        border-radius: 4rem;
        -webkit-border-radius: 4rem;
        -moz-border-radius: 4rem;
        -ms-border-radius: 4rem;
        -o-border-radius: 4rem;

        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    & h3{
        padding-left: 0.4rem;
        font-size: 3rem;
        font-weight: 300;
        margin: 21px 0 15px 0;
    }

    & p{
        padding-left: 0.8rem;
        font-size: 2rem;
        font-weight: 100;
    }
}
/* end Service-section */

/* start about section  */
.about-section{
    display: flex;
    align-items: center;
    text-align: center;

    padding: 78px 0;
    width: 100%;
    height: 100vh;
    /* background-color: lightblue; */
}

.moving-text{
    padding-top: 5vw;
    white-space: nowrap;
}
.moving-text::-webkit-scrollbar{
    display: none;
}

p{
    font-size: 5rem;
    font-weight: 100;
    display: inline-block;
    /* background-color: lightblue; */
}

.cercle{
    width: 40px;
    height: 40px;
    /* background-color: #ED3833; */
    background-color: #000;
    border-radius: 50%;
    display: inline-block;

    margin: 5px 8px;
}
.con{
    display: inline-block;
    white-space: nowrap;
    animation-name: move;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.con-div{
    display: flex;
    align-items: center;
}

@keyframes move{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

/* end about section  */


/* Social-media-connection-section */

.social-media-connection--section{
    width: 100%;
    /* height: auto; */
    padding-top: 70px;
    background-color: var(--black-bg-color);
    color: #fff;
}


/* footer */
/* .footer-1-container{

    font-size: 2rem;

    width: fit-content;
    border: 1px solid black;
    padding: .4rem 1rem;

    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
} */

.top-btn-container{
    padding: 0rem 8rem;
    width: 50%;
}

.btn{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 5rem;
    width: 100%;
    
    overflow: hidden;
    position: relative;
    /* padding: 5px 10px; */

    border-radius: 40px;
    border: 1px solid var(--black-bg-color);
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;

    font-size: 2rem;
    font-family: "Sacramento", cursive;
    /* font-family: "Playfair Display", serif; */
    /* font-style: italic; */
    letter-spacing: 0.1rem;
    font-weight: 100;

    & a{
        font-size: 2rem;
        font-weight: 400;
        text-decoration: none;
        /* color: #000; */
        color: var(--main-font-color);
        z-index: 1;
        position: relative;
    }
}

.btn:hover a{
    color: var(--main-bg-color);
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
}

.btn::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--black-bg-color);
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
}

.btn:hover::after{
    content: "";
    bottom: 0;
    border-radius: 0%;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    -ms-border-radius: 0%;
    -o-border-radius: 0%;

    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
}




/* Start Media Query */

@media screen and (width <= 450px) {
    
    /* .main{
        width: 100%;
    } */


    /* start navigation */
    .nav{
        padding: 3rem 1.5rem;

        & h1{
            font-size: 2rem;
            font-weight: 900;
            letter-spacing: 2px;
        }

        & .nav-logo{
            width: 3.5rem;
            height: 1rem;
        }
    }

    /* hero section */
    .hero-section{
        margin-bottom: 10.7rem;
        margin-top: 12.7rem;
        padding: 1.2rem;

        .bounding{
            width: fit-content;
            /* background-color: tomato; */
            overflow: hidden;

            & span{
                transform: translateY(100%);
                -webkit-transform: translateY(100%);
                -moz-transform: translateY(100%);
                -ms-transform: translateY(100%);
                -o-transform: translateY(100%);
            }
        }

        & h1{
            font-size: 4.5rem;
            letter-spacing: 2px;

            & span{
                display: block;
                /* white-space: nowrap; */
            }

            & .fillup{
                color: #000;
            }
        }

    }

    .top-btn-container{
        width: 100%;

        padding: 2rem;
        grid-template-columns: repeat(1, 1fr);
        gap: 0rem;
    }

    /* start service section */
    .service-section{

        border-top-left-radius: 3rem;
        border-top-right-radius: 3rem;

        padding: 5.5rem 2.5rem 7.5rem 2.5rem;

        & h2{
            font-size: 3.5rem;
            font-weight: 100;
            text-transform: uppercase;
        }
    }

    .service-grid-container-three--cols{
        grid-template-columns: repeat(1, 1fr);
        gap: 90px;
        padding: 96px 0px;
    }


    /* end service section  */


    /* start About section */
    .about-section{

        /* width: 100%; */
        height: 50vh;

        & .about-container{

            padding: 3rem 3rem;
            p{
                font-size: 2.5rem;
            }
        }


        /* & .moving-text{

            p{
                width: 4rem;
            }
        } */
    }

    /* end About section */



    /* start social media */
    .social-media-connection--section{

        & h3{
            font-size: 1.8rem;
            font-weight: bold;
            text-transform: uppercase;
            /* margin-top: 2.9rem; */
            padding-left: 2.6rem;
        }

        & .best-social-media--container{
            width: 100%;

            display: flex;
            align-items: center;
            justify-content: space-between;

            padding: 2.5rem 2.6rem;

            border-bottom: 1px solid #494949;

            & h2{
                color: #ffffff;
            }
            /* & a{
                color: #fff;
            } */
        }

        & .top-social-container{
            margin-top: 2.8rem;
            border-top: 1px solid #494949;
        }

        /* footer */
    }

    .footer-container{
        padding: 2.5rem 2.6rem;

        & h4{
            font-size: 1.6rem;
            /* font-weight: bold; */
            /* text-transform: uppercase; */
        }
        & h5{
            margin-top: 1rem;
            font-size: 1.2rem;
            font-weight: 100;
        }
    }
    .footer-grid-container-four--cols{
        grid-template-columns: repeat(1, 1fr);
        gap: 4rem;
    }

    .footer-legal--document{
        margin-top: 4rem;
        /* border-top: 1px solid #494949; */

        display: flex;
        align-items: center;
        justify-content: space-between;

        /* padding: 0rem 1rem; */

        & .copy-right-container{

            & h6{
                font-size: 1.2rem;
                font-weight: 100;
            }
        }
        & .privacy{
            font-size: 1.2rem;
            color: #fff;
            font-weight: 100;
        }
    }
}
